<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="GettingStartedDbCon"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\_src\SqlRepo\Demos\GettingStarted\GettingStarted.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>