<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="TestingDbConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Testing.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>