<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestingDbConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\_src\SqlRepo\SqlRepo.SqlServer.IntegrationTests\Testing.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>